@use 'variables' as *;
.sell{
    height: 394px;
    &__title{
        font-weight: 500;
        font-size: 29px;
        line-height: 115%;
        letter-spacing: 1%;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 262px;
        position: relative;
        z-index: 2;
    }
    .title{
        position: relative;
        z-index: 2;
        padding-top: 130px;
    }
    &__bg{
        position: absolute;
        right: 0;
        top: 0;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url('../img/sell-gradient.png') no-repeat center/cover;
        }
    }
    @media screen and (max-width: 996px) {
        height: 100%;
        .title{
            padding-top: 26px;
            text-align: left;
        }
        &__title{
            font-weight: 500;
            font-size: 18px;
            line-height: 145%;
            text-transform: none;
            margin-bottom: 24px;
        }
        &__bg{
            img{
                opacity: 0;
            }
            &::before{
                background: url('../img/sell-bg-mob.png') no-repeat center/cover;
                z-index: 2;
            }
        }
    }
}

.steps{
    position: relative;
    z-index: 2;
    &__title{
        font-weight: 800;
        font-size: 36px;
        line-height: 115%;
        color: $color-white;
        margin-bottom: 30px;
    }
    &__list{
        background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
        border: 1px solid $color-white;
        backdrop-filter: blur(10px);
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 25px;
    }
    &__item{
        height: 155px;
        width: 100%;
        max-width: 440px;
        padding: 20px;
        display: flex;
        gap: 15px;
        background: $color-white;
        border-radius: 15px;
        &-green{
            background: $color-green;
        }
        &--number{
            font-weight: 700;
            font-size: 64px;
            line-height: 125%;
            color: rgba(0, 14, 21, 1);
            margin-top: -20px;
        }
        &--text{
            color: rgba(0, 14, 21, 1);
            font-weight: 500;
            font-size: 18px;
            line-height: 125%;
            b{
                font-weight: 800;
            }
        }
    }
    @media screen and (max-width: 1440px){
        &__list{
            gap: 24px;
            justify-content: center;
            
        }
    }
    @media screen and (max-width: 1006px){
        &__title{
            font-size: 24px;
            max-width: 80%;
            margin-bottom: 24px;
        }
        &__list{
            border: 0;
            padding: 0;
            background: none;

        }
        &__item{
            max-width: 100%;
            height: 100%;
            &--text{
                font-size: 16px;
            }
        }
    }
}

.games{
    padding-top: 60px;
    padding-bottom: 120px;
    position: relative;
    &__title{
        @extend .steps__title;
        @media screen and (max-width: 1006px){
            margin-bottom: 12px;
        }
    }
    &__list{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    &__item{
        width: 330px;
        height: 200px;
        background: $color-green;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        &-icon{
            svg{
                &:first-child{
                    display: none;
                    @media screen and (max-width: 996px) {
                        display: block;
                    }
                }
                &:last-child{
                    @media screen and (max-width: 996px){
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1440px){
        &__list{
            gap: 5px;
            row-gap: 12px;
            justify-content: space-between;
        }
        &__item{
            width: calc(50% - 5px);
            border-radius: 12px;
        }
    }
    @media screen and (max-width: 996px){
        padding: 48px 0;
        &__item{
            height: 100px;
            width: calc(50% - 3px);
        }
    }
}