@use 'assistant/container';
@use 'variables' as *;

html{
   box-sizing: border-box;
   -ms-overflow-style: scrollbar;
   width: 100%;
   font-size: 100%;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   &:before, &:after{
      box-sizing: inherit;
   }
}

body{
  width: 100%;
  min-width: 320px;
  min-height: 100vh;  
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  color: $color-white;
  background: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &_noscroll{
     overflow: hidden;
  }
}

main{
  margin-top: 100px;
}

h1{
  font-weight: 900;
  font-size: 109px;
  line-height: 115%;
  
  text-transform: uppercase;
  color: $color-white;
  @media screen and (max-width: 996px){
      font-weight: 900;
      font-size: 48px;
      text-align: center;
  }
  span{
      color: $color-green;
  }

}

.gradient{
  .container{
      z-index: 2;
  }
  &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url('../img/gradient.png') no-repeat center/cover;
      z-index: 1;
  }
}

.title{
  font-weight: 900;
  font-size: 64px;
  line-height: 115%;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  span{
      color: $color-green;
  }
  &_sm{
      font-weight: 900;
      font-size: 64px;
      line-height: 115%;
      text-transform: uppercase;
      @media screen and (max-width: 996px) {
          font-size: 36px;
      }
  }
  

}

section{
  .container{
    z-index: 3;
  }
}

.blur_circle--left{
  position: absolute;
  left: -250px;
  bottom: -240px;
  width: 40%;
  height: 581px;
  background: url(../img/ellipse.svg) no-repeat center / cover;
  z-index: 2;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 0 50% 50% 0;
  @media screen and (max-width: 996px){
    display: none;
  }
}

.blur_circle--right{
  position: absolute;
  right: -250px;
  bottom: -240px;
  width: 40%;
  height: 581px;
  background: url(../img/ellipse.svg) no-repeat center / cover;
  z-index: 2;
  backdrop-filter: blur(30px);
  border-radius: 50% 0 0 50%;
  @media screen and (max-width: 996px){
    display: none;
  }
}

.btn{
  font-family: "Raleway", sans-serif;
  color: $color-white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 80px;
  font-weight: 900;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: 1%;
  text-transform: uppercase;
  background: $color-green;
  border: 1px solid $color-white;
  border-radius: 25px;
  transition: .3s;
  @media screen and (max-width: 996px) {
      width: 100%;
  }
  &:hover{
      background: $color-black;
      backdrop-filter: blur(10px);
      border: 1px solid $color-white;
  }
}

.btn_dark{
  background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
  &:hover{
      border: 1px solid $color-green;
      background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
  }
}

button{
  cursor: pointer;
}

.lazyload, .lazyloading{
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 0.3s linear;
}