.container {
  max-width: 1450px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

[class^=col-] {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: calc(100% / 12 * 12);
}

@media (max-width: 1200px) {
  .container {
    max-width: 1450px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1210px;
  }
}
@media (min-width: 1441px) {
  .container {
    max-width: 1450px;
  }
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  width: 100%;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  color: #fff;
  background: #000E15;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body_noscroll {
  overflow: hidden;
}

main {
  margin-top: 100px;
  overflow-x: hidden;
}

h1 {
  font-weight: 900;
  font-size: 109px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 996px) {
  h1 {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
  }
}
h1 span {
  color: #91E300;
}

.gradient .container {
  z-index: 2;
}
.gradient::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../img/gradient.png") no-repeat center/cover;
  z-index: 1;
}

.title {
  font-weight: 900;
  font-size: 64px;
  line-height: 115%;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.title span {
  color: #91E300;
}
.title_sm {
  font-weight: 900;
  font-size: 64px;
  line-height: 115%;
  text-transform: uppercase;
}
@media screen and (max-width: 996px) {
  .title_sm {
    font-size: 36px;
  }
}

section .container {
  z-index: 3;
}

.blur_circle--left {
  position: absolute;
  left: -250px;
  bottom: -240px;
  width: 40%;
  height: 581px;
  background: url(../img/ellipse.svg) no-repeat center/cover;
  z-index: 2;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 0 50% 50% 0;
}
@media screen and (max-width: 996px) {
  .blur_circle--left {
    display: none;
  }
}

.blur_circle--right {
  position: absolute;
  right: -250px;
  bottom: -240px;
  width: 40%;
  height: 581px;
  background: url(../img/ellipse.svg) no-repeat center/cover;
  z-index: 2;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 50% 0 0 50%;
}
@media screen and (max-width: 996px) {
  .blur_circle--right {
    display: none;
  }
}

.btn {
  font-family: "Raleway", sans-serif;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  height: 80px;
  font-weight: 900;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: 1%;
  text-transform: uppercase;
  background: #91E300;
  border: 1px solid #fff;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 996px) {
  .btn {
    width: 100%;
  }
}
.btn:hover {
  background: #000E15;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid #fff;
}

.btn_dark {
  background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
}
.btn_dark:hover {
  border: 1px solid #91E300;
  background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
}

button {
  cursor: pointer;
}

.lazyload, .lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}