@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.hero {
  background: url("../img/hero-bg.png") no-repeat;
  padding-top: 207px;
  padding-bottom: 307px;
  background-position-y: -102px;
  background-position-x: -280px;
  position: relative;
}
.hero .container {
  position: relative;
}
@media screen and (max-width: 996px) {
  .hero {
    background: url("../img/hero-bg-mob.png") no-repeat center/cover;
    padding-bottom: 28px;
    padding-top: 122px;
  }
}
.hero__title {
  font-weight: 500;
  font-size: 37px;
  line-height: 115%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
@media screen and (max-width: 996px) {
  .hero__title {
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
  }
}
.hero__list {
  margin-top: 50px;
  margin-bottom: 60px;
}
.hero__list-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 115%;
  margin-bottom: 10px;
  list-style: none;
}
.hero__list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  list-style: none;
  position: relative;
  padding-left: 25px;
}
@media screen and (max-width: 996px) {
  .hero__list-item {
    font-size: 18px;
    padding-left: 0;
    margin-bottom: 8px;
  }
}
.hero__list-item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 996px) {
  .hero__list-item::before {
    content: none;
  }
}
@media screen and (max-width: 996px) {
  .hero__list {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 36px;
  }
}
.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hero__btn .btn {
  font-size: 20px;
}
@media screen and (max-width: 996px) {
  .hero__btn {
    gap: 24px;
  }
}

.why {
  background: #000E15;
  padding: 120px 0;
  position: relative;
}
.why .container {
  position: relative;
}
@media screen and (max-width: 996px) {
  .why {
    padding: 96px 0;
  }
  .why .title, .why .why__text {
    padding-left: 10px;
  }
}
.why__img {
  position: absolute;
  left: -52%;
  top: 0;
  background: url("../img/why-bg.png") no-repeat center/contain;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1500px) {
  .why__img {
    display: none;
  }
}
.why__text {
  margin: 30px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  max-width: 50%;
}
@media screen and (max-width: 996px) {
  .why__text {
    max-width: 100%;
    margin: 24px 0;
  }
}
.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
  padding: 30px 25px;
  border-radius: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  gap: 36px;
}
@media screen and (max-width: 1382px) {
  .why__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 996px) {
  .why__list {
    background: linear-gradient(174.97deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 27px;
  }
}
.why__item {
  width: 100%;
  max-width: 400px;
  line-height: 125%;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .why__item {
    max-width: 340px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1382px) {
  .why__item {
    max-width: 100%;
    margin: 0 auto;
  }
}
.why__item-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 125%;
}
.why__item-text {
  padding-top: 11px;
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
}
@media screen and (max-width: 996px) {
  .why__item-text {
    padding-top: 10px;
  }
}
.why__icon {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background: #91E300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 19px;
}

.work {
  background-color: #000E15;
  position: relative;
  padding: 120px 0;
}
.work .container {
  position: relative;
}
@media screen and (max-width: 996px) {
  .work {
    padding: 0;
  }
}
.work__bg {
  width: 100%;
  height: 619px;
  position: absolute;
  right: 0;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 3;
}
@media screen and (max-width: 1382px) {
  .work__bg {
    display: none;
  }
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1382px) {
  .work__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 36px;
    margin-top: 26px;
  }
}
.work__item {
  background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 25px;
  width: 450px;
  height: 390px;
  padding: 20px;
}
@media screen and (max-width: 1440px) {
  .work__item {
    width: 32%;
  }
}
@media screen and (max-width: 1382px) {
  .work__item {
    width: 48%;
  }
}
@media screen and (max-width: 996px) {
  .work__item {
    width: 100%;
  }
}
.work__img {
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 996px) {
  .work__img {
    height: 150px;
  }
}
.work__img__bg {
  background: linear-gradient(97.62deg, rgba(145, 227, 0, 0) 0%, #91E300 100%);
  border-radius: 10px;
  position: absolute;
  content: "";
  width: 100%;
  height: 98%;
  left: 0;
  top: 0;
}
.work__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 996px) {
  .work__img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.work__text {
  font-weight: 800;
  font-size: 18px;
  line-height: 125%;
  padding-top: 20px;
  padding-bottom: 0;
}
.work__text a {
  color: #91E300;
  text-decoration: underline;
}
@media screen and (max-width: 996px) {
  .work__item {
    height: 100%;
  }
}

.steam {
  background: url("../img/steam-wallet-bg.png") no-repeat center/cover;
  position: relative;
  padding-bottom: 120px;
  padding-top: 129px;
}
.steam .container {
  position: relative;
}
.steam__gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#000E15), color-stop(101.62%, rgba(0, 14, 21, 0)));
  background: linear-gradient(180deg, #000E15 0%, rgba(0, 14, 21, 0) 101.62%);
  left: 0;
  top: 0;
}
.steam .form {
  max-width: 690px;
}
@media screen and (width: 2560px) {
  .steam .form {
    max-width: 490px;
  }
}
@media screen and (max-width: 996px) {
  .steam .form {
    max-width: 100%;
  }
}
@media screen and (max-width: 996px) {
  .steam {
    padding-top: 96px;
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 750px) {
  .steam .title {
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
  }
  .steam .container {
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media screen and (max-width: 996px) {
  .steam-page .steam {
    padding-top: 48px;
  }
  .steam-page .steam .title {
    text-align: left;
  }
}

.contact {
  background: url("../img/contacts-bg.png") no-repeat center/cover;
  position: relative;
  padding-bottom: 200px;
  padding-top: 100px;
}
.contact .btn {
  margin-top: 6px;
}
@media screen and (max-width: 996px) {
  .contact {
    padding-top: 30px;
    padding-bottom: 48px;
    background-position-y: -230px;
  }
  .contact .title {
    text-align: left;
  }
}
@media screen and (max-width: 750px) {
  .contact .form-row .form-group {
    margin-bottom: 12px;
  }
  .contact .form textarea.input {
    min-height: 60px;
  }
  .contact .form .btn {
    margin-top: 36px;
  }
  .contact .title {
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
  }
  .contact .container {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.header {
  background: rgba(0, 14, 21, 0.75);
  border-bottom: 1px solid #476270;
  -webkit-backdrop-filter: blur(29.2999992371px);
          backdrop-filter: blur(29.2999992371px);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100px;
  z-index: 99;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo a {
  display: block;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__buttons button {
  cursor: pointer;
  background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-weight: 700;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: 1%;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__buttons button:hover {
  border: 1px solid #91E300;
  background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
}
.header__buttons .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}

.nav.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.nav body.menu-active {
  overflow: hidden;
}
.nav .header__buttons {
  display: none;
}
.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-left: 116px;
}
.nav__list a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 115%;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.nav__list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #91E300;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.nav__list a:hover::after {
  width: 100%;
}

.nav__list-active {
  color: #91E300 !important;
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.burger span {
  width: 18px;
  height: 1px;
  background: #91E300;
}

.nav__hide {
  display: none;
}
.nav__hide a {
  display: block !important;
}

@media screen and (max-width: 1160px) {
  .header {
    background: transparent;
    border-bottom: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  .header__buttons {
    display: none;
  }
  .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logo a {
    display: none;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    pointer-events: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(0, 14, 21);
    width: 100%;
    height: 100vh;
    padding: 20px;
    z-index: 2;
  }
  .nav__hide {
    display: block;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 106px;
    gap: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav__list li {
    text-align: center;
  }
  .nav__list a {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }
  .nav__list a::after {
    content: none;
  }
  .nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 23px;
  }
  .nav.active .header__buttons {
    display: block;
    margin-top: 119px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .nav.active .header__buttons .login {
    margin-top: 22px;
  }
  .nav.active .nav-close {
    width: 64px;
    height: 64px;
    background: #91E300;
    border-radius: 50%;
    border: 0;
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer {
  background: #91E300;
  padding-top: 60px;
  position: relative;
}
.footer__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__grid div {
  width: 50%;
}
.footer__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 115%;
  text-transform: uppercase;
}
@media screen and (min-width: 996px) {
  .footer__title {
    margin-top: -14px;
    margin-bottom: 15px;
  }
}
.footer__title span {
  color: #000E15;
}
.footer p {
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  color: #000E15;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__link a {
  font-weight: 700;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  text-decoration: none;
  color: #000E15;
  margin-bottom: 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 996px) {
  .footer__link a {
    padding-left: 15px;
  }
}
.footer__link a:last-child {
  margin-bottom: 0;
}
.footer__link a:hover {
  color: #fff;
}
.footer__visa {
  background: #fff;
  padding: 37px 0;
  margin-top: 35px;
}
.footer__visa img {
  margin-right: 14px;
}
.footer__visa-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.footer__visa-item p {
  font-weight: 400;
  font-size: 12px;
}
@media screen and (max-width: 996px) {
  .footer {
    padding-top: 28px;
  }
  .footer__title {
    font-size: 52.94px;
    text-align: left;
    margin-bottom: 13px;
  }
  .footer p {
    font-weight: 500;
    font-size: 14px;
  }
  .footer__link {
    margin-top: 36px;
  }
  .footer__grid div {
    width: 100%;
  }
  .footer__visa {
    padding: 16px 0;
  }
  .footer__visa p {
    font-size: 12px;
  }
  .footer__visa .footer__grid {
    gap: 24px;
  }
  .footer__visa-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
}
@media screen and (max-width: 370px) {
  .footer__title {
    font-size: 43px;
  }
}

.sell {
  height: 394px;
  position: relative;
}
.sell .blur_circle--right {
  bottom: -100px;
}
@media screen and (max-width: 1919px) {
  .sell .blur_circle--right {
    display: none;
  }
}
.sell__title {
  font-weight: 500;
  font-size: 29px;
  line-height: 115%;
  letter-spacing: 1%;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 262px;
  position: relative;
  z-index: 2;
}
.sell .title {
  position: relative;
  z-index: 2;
  padding-top: 130px;
}
.sell__bg {
  position: absolute;
  right: 0;
  top: 0;
}
.sell__bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: url("../img/sell-gradient.png") no-repeat center/cover;
}
@media screen and (max-width: 996px) {
  .sell {
    height: 100%;
  }
  .sell .title {
    padding-top: 26px;
    text-align: left;
  }
  .sell__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    text-transform: none;
    margin-bottom: 24px;
  }
  .sell__bg::before {
    background: url("../img/sell-bg-mob.png") no-repeat center/cover;
    z-index: 2;
  }
}

.steps {
  position: relative;
  z-index: 2;
}
.steps__title, .games__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 115%;
  color: #fff;
  margin-bottom: 30px;
}
.steps__list {
  background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 25px;
}
.steps__item {
  height: 155px;
  width: 100%;
  max-width: 440px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  background: #fff;
  border-radius: 15px;
}
.steps__item-green {
  background: #91E300;
}
.steps__item--number {
  font-weight: 700;
  font-size: 64px;
  line-height: 125%;
  color: rgb(0, 14, 21);
  margin-top: -20px;
}
.steps__item--text {
  color: rgb(0, 14, 21);
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
}
.steps__item--text b {
  font-weight: 800;
}
@media screen and (max-width: 1440px) {
  .steps__item {
    max-width: 31%;
    min-height: 173px;
  }
  .steps__list {
    gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1006px) {
  .steps__title, .games__title {
    font-size: 24px;
    max-width: 80%;
    margin-bottom: 24px;
  }
  .steps__list {
    border: 0;
    padding: 0;
    background: none;
  }
  .steps__item {
    max-width: 100%;
    height: 100%;
  }
  .steps__item--text {
    font-size: 16px;
  }
}

.games {
  padding-top: 60px;
  padding-bottom: 120px;
  position: relative;
}
.games .container {
  position: relative;
}
@media screen and (max-width: 1006px) {
  .games__title {
    margin-bottom: 12px;
  }
}
.games__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.games__item {
  width: 330px;
  height: 200px;
  background: #91E300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}
.games__item-icon svg:first-child {
  display: none;
}
@media screen and (max-width: 996px) {
  .games__item-icon svg:first-child {
    display: block;
  }
}
@media screen and (max-width: 996px) {
  .games__item-icon svg:last-child {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .games__list {
    gap: 5px;
    row-gap: 12px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .games__item {
    width: calc(50% - 5px);
    border-radius: 12px;
  }
}
@media screen and (max-width: 996px) {
  .games {
    padding: 48px 0;
  }
  .games__item {
    height: 100px;
    width: calc(50% - 3px);
  }
}

.form {
  margin-top: 60px;
  border: 1px solid #fff;
  border-radius: 25px;
  background: linear-gradient(93.69deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 2, 7, 0.0625) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100%;
  padding: 40px;
  position: relative;
  z-index: 1;
}
.form input[type=number]::-webkit-outer-spin-button,
.form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form input[type=number] {
  -moz-appearance: textfield; /* Для Firefox */
}
.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.form-row .form-group {
  margin-bottom: 20px;
}
.form-row--2 > .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form-row--3 > .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form textarea.input {
  resize: vertical;
  min-height: 160px;
}
.form .btn {
  width: 100%;
  margin-top: 60px;
  border-radius: 10px;
  border: none;
}
.form__label {
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  margin-left: 5px;
}
.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-bottom: 30px;
}
.form-group a {
  font-weight: 700;
  color: #91E300;
  text-decoration: none;
}
.form-group::-webkit-input-placeholder {
  color: #CFCFCF;
}
.form-group::-moz-placeholder {
  color: #CFCFCF;
}
.form-group:-ms-input-placeholder {
  color: #CFCFCF;
}
.form-group::-ms-input-placeholder {
  color: #CFCFCF;
}
.form-group::placeholder {
  color: #CFCFCF;
}
.form-group .input {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  width: 100%;
  padding: 18px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #fff;
}
.form-group .input::-webkit-input-placeholder {
  color: rgb(207, 207, 207);
}
.form-group .input::-moz-placeholder {
  color: rgb(207, 207, 207);
}
.form-group .input:-ms-input-placeholder {
  color: rgb(207, 207, 207);
}
.form-group .input::-ms-input-placeholder {
  color: rgb(207, 207, 207);
}
.form-group .input::placeholder {
  color: rgb(207, 207, 207);
}
.form-group .input:focus-visible {
  outline: none;
}
.form-group .input--error {
  border: 2px solid #EB001B;
  background: #FFDADE;
  color: #EB001B;
}
.form-group .input--success {
  border: 2px solid #91E300;
}
.form-group--checkbox {
  gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 18px;
}
.form-group .checkbox {
  display: none;
}
.form-group .checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.form-group .checkbox__label a {
  margin-left: 5px;
}
.form-group .checkbox__custom {
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 10px;
}
.form-group .checkbox:checked + .checkbox__label .checkbox__custom::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 2L8.66667 14L2 8' stroke='%23000E15' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 11px;
  left: 7px;
}
.form-state {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1%;
  text-align: center;
  padding-top: 80px;
}
.form-state__icon {
  width: 322px;
  height: 322px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 171.45px;
  line-height: 115%;
  margin: 0 auto;
}
.form-state__icon svg {
  width: 113px;
  height: 122px;
}
.form-state__text {
  font-size: 48px;
  line-height: 115%;
  margin-top: 40px;
}
.form-state .btn {
  margin-top: 104px;
}
.form-successfully .form-state__icon {
  background: #91E300;
}
.form-again .form-state__icon {
  background: #000E15;
}
.form-again .form-state__text {
  font-size: 44px;
}
.form-again .btn {
  margin-top: 56px;
}
@media screen and (width: 2560px) {
  .form {
    padding: 24px 16px;
    margin-top: 36px;
    max-width: 100%;
  }
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .form-group {
    margin-bottom: 12px;
  }
  .form-group .input {
    height: 60px;
  }
  .form .btn {
    margin-top: 24px;
    height: 60px;
  }
  .form .form-state {
    padding-top: 46px;
  }
  .form .form-state__icon {
    width: 256px;
    height: 256px;
  }
  .form .form-state__icon svg {
    width: 90px;
    height: 97px;
  }
  .form .form-state__text {
    font-size: 24px;
  }
  .form.form-successfully .btn {
    margin-top: 52px;
  }
  .form.form-again .btn {
    margin-top: 24px;
  }
}
@media screen and (max-width: 1440px) {
  .form {
    padding: 24px 16px;
    margin-top: 36px;
    max-width: 100%;
  }
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .form-group {
    margin-bottom: 12px;
  }
  .form-group .input {
    height: 60px;
  }
  .form .btn {
    margin-top: 24px;
    height: 60px;
  }
  .form .form-state {
    padding-top: 46px;
  }
  .form .form-state__icon {
    width: 256px;
    height: 256px;
  }
  .form .form-state__icon svg {
    width: 90px;
    height: 97px;
  }
  .form .form-state__text {
    font-size: 24px;
  }
  .form.form-successfully .btn {
    margin-top: 52px;
  }
  .form.form-again .btn {
    margin-top: 24px;
  }
}